.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: yellow;
}
.active{
    background-color: rgb(216, 166, 72);
    padding: 4px 10px;
    border-radius: 8px;
}
.email, .sign-out{
    color: whitesmoke;
}
.logout-button{
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    background-color: orangered;
    color: whitesmoke;
}

@media only screen and (max-width: 600px) {
    .logout-button{

    }
    .header{
        flex-direction: column;
    }
  }